
/*linea 3 importar enlace de la fuente de letras*/
@import url('https://fonts.googleapis.com/css?family=Spectral');

#estilo_principal{
  background-color:white;
  width:70%;
  margin:auto;
  border:1px solid black;
  /* linea 11 se modifica el font family */
  font-family: 'Spectral', serif;

  overflow auto;
}


.menu-item{
  float:left;
}
  nav ul{
    list-style: none;
  }
  nav a {
    text-decoration:none;
    padding: 10px;
    display: block;
  }
 nav ul, nav li{
   padding: 0px;
   margin: 0px:;
 }
 /*background-color:SteelBlue; se sustituye el nombre por otro color para el borde del menu*/
 nav li{
   width: 100px;
   background-color:SteelBlue;
 }
 nav{
   /*background-color:SteelBlue; se sustituye el nombre por otro color para el borde del menu*/
   background-color:SteelBlue;
   overflow: auto;
 }
 .submenu{
   display: none;
   position: absolute;
 }
 .menu-item:hover .submenu{
   animation-name: Menu;
   animation-duration: 2s;
   opacity:  0.95;
   display: block;
 }
 nav li:hover{
   /*background-color:SteelBlue; se sustituye el nombre por otro color para el borde de la opcion*/
   background-color: LightSteelBlue;
 }

 @keyframes Menu{

 	from{
 		opacity: 0;
 	}
 	to{
 		opacity: 0.95;
 	}
 }
