#estilo_pricipal{
  background-color:white;
  width:70%;
  margin:auto;
  border:1px solid black;
  font-family:arial,sans-serif;
  overflow auto;
}
<style type="text/css">
.menu-item{
  float:left;
}
  nav ul{
    list-style: none;
  }
  nav a {
    text-decoration:none;
    padding: 10px;
    display: block;
  }
 nav ul, nav li{
   padding: 0px;
   margin: 0px:;
 }
 nav li{
   width: 100px;
   background-color:MediumPurple;
 }
 nav{
   background-color:MediumPurple;
   overflow: auto;
 }
 .submenu{
   display: none;
   position: absolute;
 }
 .menu-item:hover .submenu{
   display:block;
 }
 nav li:hover{
   background-color: OrangeRed;
 }

</style>
