
@import url('https://fonts.googleapis.com/css?family=Spectral|Tenali+Ramakrishna');

#estilo_pricipal{
  background-color:white;
  width:70%;
  margin:auto;
  border:1px solid black;
  font-family: 'Spectral', serif;
  font-family: 'Tenali Ramakrishna', sans-serif;

  overflow auto;
}


.menu-item{
  float:left;
}
  nav ul{
    list-style: none;
  }
  nav a {
    text-decoration:none;
    padding: 10px;
    display: block;
  }
 nav ul, nav li{
   padding: 0px;
   margin: 0px:;
 }
 nav li{
   width: 100px;
   background-color:MediumPurple;
 }
 nav{
   background-color:MediumPurple;
   overflow: auto;
 }
 .submenu{
   display: none;
   position: absolute;
 }
 .menu-item:hover .submenu{
   animation-name: Menu;
   animation-duration: 2s;
   opacity:  0.95;
   display: block;
 }
 nav li:hover{
   background-color: OrangeRed;
 }

 @keyframes Menu{

 	from{
 		opacity: 0;
 	}
 	to{
 		opacity: 0.95;
 	}
 }
